.newItemAdd{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.newItemAdd h1{
    font-weight: 400;
    font-size: 3em;
    color: rgba(245, 84, 25, 0.877);
}
.newItemAdd form{
    width: 100%;
    background: #fcfbfb41;
    padding: 2% 3%;
    display: flex;
    flex-direction: column;
}
.newItemAdd form label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.newItemAdd form label span{
     font-weight: 300;
}
.newItemAdd form input{
    background: #F8F8F8;
    color: var(--text);
    border: 1px solid #ece0e04f;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance:textfield;
    width: 100%;
    height: 2.3em;
    font-size: 1em;
    text-transform: uppercase;
    padding-inline-start: 8px;
    border-radius: 4px;
    box-shadow:  5px 5px 7px #dadada,
    -5px -5px 7px #ffffff;
}
.newItemAdd form input:focus{
    outline: 2px solid #222;
}
.newItemAdd form input[type="number"]::-webkit-outer-spin-button{
    appearance: none;
}

.newItemAdd form .coverPrev{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: baseline;
    margin-top: 20px;
    margin-bottom: 10px;
}
.newItemAdd form .coverPrev .prevImg{
    border: 1px solid #111;
    width: 50%;
    height: 15em;
}
.newItemAdd form .coverPrev .prevImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.newItemAdd form input[type="file"]{
    width: 50%;
    border: none;
}
.newItemAdd form input[type="file"]::file-selector-button{
    background: rgb(255, 72, 0);
    border: none;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
}
.PostToServer{
    margin-top: 30px;
    width: 100px;
    height: 35px;
    background: linear-gradient(30deg,rgb(255, 123, 0),rgb(255, 81, 0),rgb(255, 81, 0));
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.pops{
    position: absolute;
    top:  50%;
    right: -100vh;
    width: 200px;
    height: 50px;
    border: 1px solid #d3d3d3;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.3);
    font-size: .9em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(101, 134, 101);
    right: -100vh;
    transition: 200ms;
}